# Игнорировать виртуальное окружение
venv/
.env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

# Игнорируем всю папку target
target/

# Но оставляем результаты allure (чтобы пушить в репозиторий)
!target/allure-results/

# Отчёт HTML не коммитим (каждый разработчик генерирует сам у себя)
target/allure-report/
